html, body {
    height: 100%;
}

body {
  font-family: sans-serif;
  margin: auto;
  background-color: #181a1b;
  color: #181a1b
}

#main-container {
    height: 100%;
    padding: 0;
    margin: 0;

    /* from: https://stackoverflow.com/questions/19026884/flexbox-center-horizontally-and-vertically */
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
}

#hypno-LOGOS {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

